<h2>{{ product.title }}</h2>
<img src="{{ product.featured_image | image_url: width: 500 }}">
<p>{{ product.price | money }}</p>

<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <button type="submit">Add to cart</button>
</form>